/* Restablecer márgenes y paddings predeterminados */
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-image: url('Imagenes/fondo-cine.jpg');
    background-size: cover; /* Hace que la imagen cubra todo el contenedor */
    background-position: center; /* Centra la imagen de fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
}

/* Fuente */
@font-face {
    font-family: 'Starborn';
    src: url('Fuentes/Starborn.ttf') format('truetype');
}


.contenedor-video {
    display: flex;
    width: 100%;
    height: 50%;
    justify-content: center;
    align-items: center;
    position: relative;
}


.contenedor-gif {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 49.3vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Estilos para el cuadro de entrada */
.input-cuadro {
    padding: 18px;
    font-size: 40px;
    border: 6px solid #000000; /* Borde azul para el cuadro de entrada */
    border-radius: 20px; /* Bordes redondeados */
    color: #000000; /* Color del texto dentro del cuadro de entrada */
    background-color: #ededed;
    outline: none; /* Elimina el contorno predeterminado */
    box-shadow: 2px 2px 4px #484848; /* Sombra para el cuadro de entrada */
    transition: border-color 0.3s ease; /* Transición suave para el color del borde */
    height: 15%;
    opacity: 0;
}

/* Efecto de foco para el cuadro de entrada */
.input-cuadro:focus {
    border-color: #545454; /* Cambia el color del borde cuando está en foco */
}

#gif-perrito {
    width: auto;
    height: 100%;
    max-width: 100%;/* Asegura que el gif no se salga del div */
    animation: desplazarizq 1.3s ease;
}

#input-cuadro {
    animation: expandir 1s ease;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}

/* Animaciones */
@keyframes desplazarizq {
    from {
        transform: translateX(-1000px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes expandir {
    from {
        transform: scale(0.3);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}
